* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}


.container h1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}

.container p {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.card-group {
    text-align: center;
    
}


.card {
    border: none;
    padding-right: 20px;
    background-color: rgb(241, 240, 240);
    margin: auto;
    width: 250px;

}

.input-field{
    display: flex;
}

.input-field input {
    border-left: none;
    border-right: none;
} 

.input-field button {
    height: 40px;    
    width: 40px;
    background-color: white;
    border-width: 1px;
    font-weight: 200;
    font-size: larger;
    
}


.input-field input {
    text-align: center;
    width: 100px;
    border-width: 1px;
    padding-top: 3px;
    
}


.input-field button {
    text-align: center;
    width: 50px;
    height: 40px;
    border-width: 1px;

}

.CartBtn {
    background-color: white;
    border: 1px solid;
    height: 30px;
    width: 200px;
    
}

.input-field button:nth-child(1) {
    border-right: none;
}

.input-field button:nth-child(3) {
    border-left: none;
} 


.swiper-button-prev, .swiper-button-next {
    color: black;

}

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: xx-large;
}


.card-group::after {
    content: '';
    border: 2px solid black !important;
    
}
