@media only screen and (max-width: 1024px) {
    .main {
        display: flex;
    }

}

@media only screen and (max-width: 765px) {
    .delivery-container {
        display: block;
    }

    .same-day {
        border: none;
    }
        

  }



  @media only screen and (max-width: 300px) {
    .delivery-container {
        display: block;
    }

    .same-day {
        border: none;
    }




}
