@media only screen and (max-width: 1024px) {
    .title header {
        font-size: 0.2rem;
    }

    .title header h2 {
        font-size: revert;
    }

    .chat-title li {
        font-size: small;
    }

    .chat-background {
        width: 223px;
        height: 250px;
    }

    ul {
        padding-left: 0;
    }

    .input-chat {
        border-radius: 10px;
    }
    
    .chat input {
        width: auto;
        height: 40px;
        text-align: left;
        padding-left: 15px;
        padding-bottom: 5px;
        border: 1.8px solid;
    }

    .input-chat button {
        width: 50px;
        height: 40px;
        border-radius: 5px;
        border: 1.8px solid;
        color: black;
    }

        

  }
 



@media only screen and (max-width: 758px) {
     
    .title header {
        font-size: 0.2rem;
    }

    .title header h2 {
        font-size: revert;
    }

    .chat-title li {
        font-size: small;
    }

    .chat-background {
        width: 250px;
        height: 250px;
    }

    ul {
        padding-left: 0;
    }

    .input-chat {
        border-radius: 10px;
    }
    
    .chat input {
        width: auto;
        height: 40px;
        text-align: left;
        padding-left: 15px;
        padding-bottom: 5px;
        border: 1.8px solid;
    }

    .ChatBtn {
        width: 55px;
        height: 55px;
    }
    .input-chat button {
        width: 50px;
        height: 40px;
        border-radius: 5px;
        border: 1.8px solid;
        color: black;
    }

 
        

  }



  @media only screen and (max-width: 300px) {

    .title header {
        font-size: 0.2rem;
    }

    .title header h2 {
        font-size: revert;
    }

    .chat-title li {
        font-size: small;
    }

    .chat-background {
        width: 250px;
        height: 250px;
    }

    ul {
        padding-left: 0;
    }

    .input-chat {
        border-radius: 10px;
    }
    
    .chat input {
        width: auto;
        height: 40px;
        text-align: left;
        padding-left: 15px;
        padding-bottom: 5px;
        border: 1.8px solid;
    }

    .ChatBtn {
        width: 55px;
        height: 55px;
    }
    .input-chat button {
        width: 50px;
        height: 40px;
        border-radius: 5px;
        border: 1.8px solid;
        color: black;
    }
    

}
