@media only screen and (max-width: 1024px) {
    .card-group{
        text-align: center;
        display: flex;
        justify-content: center;
    
    }

    .card-group img{
        width: 300px;
        height: 280px;

    }

    .card {
        text-align: center;
    }

    .input-field {
        display: block !important;
    }

    .CartBtn {
        width: 200px;
        margin: auto;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 765px) {
        .card-group{
            display: flex;
            flex-direction: column;
             margin: auto;
            text-align: center;
        
        }

        .card-group img{
            width: 200px;

        }

        .card {
            text-align: center;
            margin: auto;
        }

        .container h1 {
            padding-left: 20px;
        }

        .container p {
            padding-left: 40px;
        }



  }



  @media only screen and (max-width: 300px) {

    .card-group{
        margin: auto;
        display: block;
        text-align: center;
    
    }

    .card-group img{
        width: 200px;
    }

    .card {
        margin: auto;
    }


    .container h1 {
        padding-left: 20px;
    }

    .container p {
        padding-left: 40px;
    }



}

    